 *{
    margin : 0px;
    padding : 0px ;
    box-sizing : border-box;
}
body{
    background:gray;
    display : flex ;
    justify-content : center;
    align-items : center;
    height : 100vh;
}
.cal{
    background-color: rgba(67, 150, 222, 0.84);
    width : 450px ;
    /* height : 500px ; */
    
}
#result {
   width : 90%;
   background-color : white ;
   height : 70px;
   border-radius : 10px;
   margin : 15px auto ; 
   padding:10px ;
   font-size:50px;
   display : flex;
   flex-direction : row-reverse;
}
.inner-btn{
     /* border: 2px solid red;  */
    width  :  90%;
    margin : auto ;
    margin : 30px auto;
}
.outer-div {
    /* border: 2px solid red; */
     display : flex;
    justify-content : space-between  ;
    align-items : space-between;
    margin : 20px 0px; 
 }
.btn {
    width : 90px ;
    height :60px;
    border-radius : 10px;
    font-size : 30px;
    color : white;
    background-color: blue;
    border : none;
}

.btn:hover{
     background-color: rgba(55, 69, 223, 0.84);
    width : 89px ;
    height :59px;
 }  
 #btnc {
    background-color : red;
 }
    
